// ==========================================================================
// Colors
// ==========================================================================

$color-01: rgba(255,255,255,1);
$color-02: rgba(196,204,232,1);
$color-03: rgba(224,224,224,1);
$color-04: rgba(72,72,72,1);
$color-05: rgba(175,175,175,1);
$color-06: rgba(240,242,249,1);
$color-07: rgba(96,245,96,1);
$color-08: rgba(216,216,216,1);
$color-09: rgba(245,96,96,1);
$color-10: rgba(0,0,0,1);