$font-color-primary: $charcoal;
$font-color-secondary: $dark-gray;
$font-color-ambient: $white;


$bg-page: $lavender;
$bg-header: $gradient;
$bg-main: $white;
$bg-footer: $charcoal;


$shadow-box: rgba(0,0,0,0.16);
$radius-box: 0.5rem;


$c-menu-font-color: $white;
$c-menu-font-color--hover: $charcoal;
$c-menu__shadow: $charcoal-50;
$c-menu__bg: $gradient;


$c-tab__color: $dark-gray;
$c-tab__color--active: $charcoal;
 

$c-panel__bg: $gradient;