// ==========================================================================
// Component Avatar
// ==========================================================================

.c-avatar {
}

.c-avatar__picture {
  width: 5rem;
}

.c-avatar__image {
  border-radius: 100%;
  width: 100%;
}

.c-avatar__status {
}

.c-avatar__body {
}

.c-avatar__title {
  
}

.c-avatar__description {
  
}


//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) {

} 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {
  
}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { 
  .c-avatar__picture {
    width: 7.5rem;
  }
}


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) {
  
}
