// ==========================================================================
// Component expandable
// ==========================================================================

.c-expandable {
  overflow: hidden;
  max-height: 17.5rem;
  position: relative;
  padding-bottom: 2rem;
  
  transition-property: max-height;
  transition-duration: 680ms;
  transition-timing-function: ease-out;
  
  &.is-open {
    max-height: 1200px !important;
    transition-timing-function: ease-in;
    
    .c-expandable__container {
      height: 5rem;
    }
  }
}

.c-expandable__container {
  height: 5rem;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .95) 10%, rgba(255, 255, 255, 0) 90%);
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-expandable__action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;  
  margin: 0 auto;
  
  &:hover {
    color: $dark-gray;
  }
}





.is-open > .c-expandable__action {
  // visibility: hidden;
}


//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) {

} 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {
  
}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { 
  
}


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) {

}
