//
// Component Menu
// ==========================================================================
// 1. calc ( ( --header-padding * 2 ) + --header-height )
//
.c-menu {}


//
// button - burguer
//
.c-menu__burguer {
  background-color: transparent;
  border: none;
  display: block;
  height: 2rem;
  position: relative;
  width: 2rem;
  padding: 0;
  overflow: hidden;
}

.c-menu__burguer:before {
  content: "";
  background-color: $c-menu-font-color;
  width: 2rem;
  height: 0.2rem;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -0.25rem;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.c-menu__burguer:after {
  content: "";
  background-color: $c-menu-font-color;
  width: 2rem;
  height: 0.2rem;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 0.25rem;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.c-menu__burguer {
  
}


//
// list and items
//
.c-menu__list,
.c-menu__item {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.c-menu__list {
  padding-top: 5rem; /* 1 */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - 4rem);
  background-image: $c-menu__bg;
  z-index: -1;
  box-shadow: 0 0 0 150vw transparent;
  transform: translate(-100vw);
  
  transition-property: transform, box-shadow;
  transition-duration: 320ms;
  transition-timing-function: ease-out;
}

.c-menu__item {
  padding: .5rem 1rem;
}



//
// Actions - links
//
.c-menu__link {
  color: $c-menu-font-color;
  font-weight: $text--semibold; 
  font-size: $text-size-xl;
  line-height: 1.375;
  
  text-decoration: none;
  
  &:hover {
    color: $c-menu-font-color--hover;
  }
}


//
// States
//
.is-open {
  .c-menu__list {
    transform: translate(0vw);
    transition-timing-function: ease-in;
    box-shadow: 0 0 0 150vw $c-menu__shadow;
  }
  
  .c-menu__burguer:before {
    content: "";
    transform: rotate(45deg);
    top: 0.1rem;
  }
  
  .c-menu__burguer:after {
    content: "";
    transform: rotate(-45deg);
    top: -0.1rem;
  }
}

//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) {
  .c-menu__burguer {
    display: none;
  }
  
  .c-menu {
    margin: 0 auto;
  }
  
  .c-menu__list {
    padding-top: 0;
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    width: auto;
    background-image: unset;
    z-index: unset;
    box-shadow: unset;
    transform: unset;
    
    display: flex;
    flex-direction: row;
  }
  
  .c-menu__item {
    padding: 1.5rem 1rem 0;
  }
  
  .c-menu__link {
    font-size: $text-size-l;
  }

} 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {
  .c-menu {
    margin: 0;
  }
  
  .c-menu__item {
    padding: 0 0 0 2rem;
  }
  
  
}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { 
  .c-menu__item {
    padding: 0 0 0 3.5rem;
  }
  
  .c-menu__link {
    font-size: $text-size-xl;
  }
}


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) { }
