// ==========================================================================
// Panel
// ==========================================================================
// 1. (100-32*3)/2
//
.c-panel {
  flex: 0 32%;
  margin-bottom: 2%; /* 1 */
  aspect-ratio: 1 / 1;
  
  border: 1px solid olive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-panel__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  align-items: center;
}

.c-panel__picture {

}

.c-panel__text {
  color: $egyptian-blue;
  font-size: $text-size-xl;
  font-weight: $text--bold;
  line-height: 1.35;
}



//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) {

} 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {
  
}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { 
  
}


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) {

}
