// ==========================================================================
// Component tabs
// ==========================================================================
//
// 1. content-area & line-box: calculate a virtual-area smaller than content-area [https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align]


.c-tabs {
  --c-tab-link-padding-vertical: 0.5rem ;
  --c-tab-link-padding-horizontal: 1rem;
  --c-tab-link-color: #{$c-tab__color};
  --c-tab-item-bg: transparent;
  
  background-color: $c-tab__bg;
}

.c-tabs__list,
.c-tabs__item {
  @include reset-list-style;
}

.c-tabs__list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  text-align: center;
  
  background: linear-gradient(180deg, $c-tab__bg calc(100% - .25rem), $c-tab__border calc(100% - .25rem), $c-tab__border 100%);
}


.c-tabs__link {
  color: var(--c-tab-link-color);
  padding: var(--c-tab-link-padding-vertical) var(--c-tab-link-padding-horizontal);
  font-size: $text-size-l;
  line-height: 1.35;
  font-weight: $text--semibold; 
  text-decoration: none;
  display: block;
  background-color: $c-tab__bg;
  min-width: 11rem;
  box-sizing: border-box;
  
  &[aria-selected],
  &:hover {
    --c-tab-link-color: #{$c-tab__color--active};
  }
  
  
}

.c-tabs__item {
  padding-bottom: 0.25rem;
  background: var(--c-tab-item-bg);
  position: relative;
  
  &.is-active {
    --c-tab-item-bg: #{$c-panel__active};
  }
}

// /* Alternative: .c-tabs__item:not(:first-child)::after */
// .c-tabs__item + .c-tabs__item::after { 
//   content: "";
//   position: absolute;
//   border: 1px solid  $timberwolf;
//   left: 0;
//   top: calc( var(--c-tab-link-padding-vertical) * 1.175); /* 1 */
//   height: $text-size-l;
// }
//

.c-tabs__item::after {
  content: "";
  position: absolute;
  border: 1px solid  $c-tab__border;
  right: 0;
  top: calc( var(--c-tab-link-padding-vertical) * 1.175); /* 1 */
  height: $text-size-l;
}

//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) { 
  .c-tabs {
    --c-tab-link-padding-vertical: 1rem ;
    --c-tab-link-padding-horizontal: 2rem;
  }
}

//
// Large Tablet
// ==========================================================================

@media screen and (min-width: 56rem) { 
}