//
// <div class="o-media">
//  <img class="o-media-figure" src="" alt="">
//  <p class="o-media-body">&hellip;</p>
// </div>
//

.o-media {
  display: flex;
  align-items: flex-start;
}

.o-media-figure {
  margin-right: 1em;
}

.o-media-body {
  flex: 1;
}
