
// ==========================================================================
// Panel
// ==========================================================================

.c-panel__text {
  color: $egyptian-blue;
  font-size: $text-size-xl;
  font-weight: $text--bold;
  line-height: 1.35;
}
