
// ==========================================================================
// Objects
// ==========================================================================

//
// stretch all 
// ==========================================================================
.o-stretch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


//
// Large Tablet
// ==========================================================================

@media screen and (min-width: 56rem) {

}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { 

}


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) { 

}