//
// Mobile First
// ==========================================================================

html {
  background-color: $bg-page;
  color: $font-color-primary;
}

.bodycopy {
  color: $font-color-primary;
} 

.header__content {
  background: $bg-header;
}

.main__content {
  background-color: $bg-main;
  box-shadow: 0 2px 1rem 0 $shadow-box;
}

.footer {
  background-color: $bg-footer;
  color: $font-color-ambient;
}

//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) {
  .header {
    background: $bg-header;
  }
  
  .header__content {
    background: transparent;
  }
  
} 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {
  .main__content {
    overflow: hidden;
    border-radius: $radius-box;
  }
  
}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { }


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) { }