//
// Mobile First
// ==========================================================================

html {
  background-color: $bg-page;
  color: $font-color-primary;
}

.header {
  background: $bg-header;
}

.main__content {
  background-color: $bg-main;
}

.footer {
  background-color: $bg-footer;
}

//
// Tablet
// ==========================================================================

@media screen and (min-width: 37.5rem) { } 

//
// Large Tablet
// ==========================================================================
@media screen and (min-width: 56rem) {}

//
//  Small Desktop
// ==========================================================================
@media screen and (min-width: 75rem) { }


//
//  Large Desktop
// ==========================================================================
@media screen and (min-width: 112rem) { }